{% extends 'base.html' %}
{% load static %}
{% block title %}Craud{% endblock %}

{% block content %}
    <div class="container main-container">
        <div class="row">
            <div class="col">
                <div class="container hlgc"
                     style="background-image: url('{% static "images/background/Eys0kA.webp" %}'); background-repeat: no-repeat; background-position: center;
                             background-size: cover;">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <div class="card my-shadow" style="border-radius: 50px">
                                <div class="container text-center">
                                    <form class="d-flex border-0" method='POST' action="{% url 'search' %}">
                                        {% csrf_token %}
                                        <input class="form-control me-2 border-0 shadow-none" type="search"
                                               placeholder="Events / Restaurants / Things to do"
                                               aria-label="Search"
                                               name="searched">
                                        <button class="btn search-btn border-0" type="submit"><img
                                                class="search-svg" src="{% static 'images/search.svg' %}"
                                                alt="..." style="height: 50px"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row" style="background-color: rgba(251, 202, 107, 0.5); margin-right: -20px; margin-left: -20px">
        <div class="col">
            <div class="card rounded-0" style="background-color: rgba(251, 202, 107, 0); border-width: 0">
                <div class="container" style="padding-top: 30px; padding-bottom: 30px">
                    <div class="row">
                        <div class="col">
                            <div class="card my-shadow text-center rounded-0" style=" border-width: 0;">
                                <img src="{% static 'images/events/piata-unirii-deschidere_25_05_2018-marius-maris_print-1095.jpg' %}"
                                     class="card-img-top rounded-0" alt="..."
                                     style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">Find a new event</h5>
                                    <a href="{% url 'all_events' %}" class="btn rounded-0 my-btn">Events</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card my-shadow text-center rounded-0" style=" border-width: 0;">
                                <img src="{% static 'images/restaurants/depositphotos_174411266-stock-photo-friends-toasting-at-dinner-party.jpg' %}"
                                     class="card-img-top rounded-0" alt="..."
                                     style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">Search for a place to eat</h5>
                                    <a href="{% url 'all_restaurants' %}"
                                       class="btn rounded-0 my-btn">Restaurants</a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card my-shadow text-center rounded-0" style=" border-width: 0;">
                                <img src="{% static 'images/things_to_do/Mina-Rudolf-2.jpg' %}"
                                     class="card-img-top rounded-0" alt="..."
                                     style="height: 200px; object-fit: cover;">
                                <div class="card-body">
                                    <h5 class="card-title">What to do</h5>
                                    <a href="{% url 'all_ttd' %}" class="btn rounded-0 my-btn">Things to do</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
