{% extends 'base.html' %}
{% load static %}
{% block title %}Craud{% endblock %}

{% block content %}
    <div class="container">
        <div class="row center" style="padding-bottom: 20px">
            <div class="col">
                <div class="row">
                    <div class="container" style="text-align: center;">
                        <p> &emsp;Welcome to Craud! Craud is a Django based web application, similar with TripAdvisor.
                            You can
                            search
                            for places to eat, events to take part in and other things to do in the city of Cluj-Napoca.
                            Sign
                            up and you'll be able to leave reviews or add an event of your own. Start today!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="container center">
                        <a class="btn my-btn rounded-0" href="{% url 'create_user' %}" role="button">Get started!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <img src="{% static 'images/background/pngegg.png' %}" style="height: 500px" alt="...">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card rounded-0" style="background-color: rgba(251, 202, 107, 0.5); border-color: rgba(251, 202, 107, 0.5);">
                    <div class="container" style="padding-top: 30px; padding-bottom: 30px">
                        <div class="row">
                            <div class="col">
                                <div class="card shadow text-center rounded-0" style=" border-width: 0;">
                                    <img src="{% static 'images/events/piata-unirii-deschidere_25_05_2018-marius-maris_print-1095.jpg' %}" class="card-img-top rounded-0" alt="..." style="height: 200px; object-fit: cover;">
                                    <div class="card-body">
                                        <h5 class="card-title">Find a new event</h5>
                                        <a href="{% url 'all_events' %}" class="btn rounded-0 my-btn">Events</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow text-center rounded-0" style=" border-width: 0;">
                                    <img src="{% static 'images/restaurants/depositphotos_174411266-stock-photo-friends-toasting-at-dinner-party.jpg' %}" class="card-img-top rounded-0" alt="..." style="height: 200px; object-fit: cover;">
                                    <div class="card-body">
                                        <h5 class="card-title">Search for a place to eat</h5>
                                        <a href="{% url 'all_restaurants' %}" class="btn rounded-0 my-btn" >Restaurants</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card shadow text-center rounded-0" style=" border-width: 0;">
                                    <img src="{% static 'images/things_to_do/Mina-Rudolf-2.jpg' %}" class="card-img-top rounded-0" alt="..." style="height: 200px; object-fit: cover;">
                                    <div class="card-body">
                                        <h5 class="card-title">What to do</h5>
                                        <a href="{% url 'all_ttd' %}" class="btn rounded-0 my-btn">Things to do</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
