{% extends 'base.html' %}
{% block title %} Password reset {% endblock %}
{% block content %}
    <div class="container lgc"
         style="background-image: url('/static/images/background/lorena-tintea-u450hw1m_f0-unsplash.jpg'); background-repeat: no-repeat;
background-size: cover;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow-lg lg-card rounded" style="margin-bottom: 0">
                    <div class="container text-center">
                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <button class="btn my-btn border-0" type="submit"><strong>Submit</strong></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}