body {
    padding-top: 65px;
}

@media (max-width: 979px) {
    body {
        padding-top: 65px;
    }
}

.nav-title {
    color: #413805;
}

/*login*/

.login {
    text-decoration: none;
}


.login:hover {
    text-decoration: none;
    font-weight: bold ;
}

.lgc {
    background-color: #AABFB8;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*events, restaurants, things to do: photos*/

.ph {
    object-fit: cover;
    height: 200px;
    width: 300px;
}

.ph:hover {
    height: auto;
    width: auto;
}

.bcg {
    background-color: #AABFB8;
}

.hph {
    object-fit: cover;
    height: 400px;
}

.uf {
    padding-top: 100px;
}

.mydiv {
  position: relative;
}
.mydiv:after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  background: #AABFB8;
  z-index: -1;
}

.lste {
    margin-top: 5px;
    margin-bottom: 5px;
}