.link {
    text-decoration: none !important;
    color: black;
}

.link:hover {
    text-decoration: none;
    font-weight: bold;
    color: #5d781b
}

.link.page {
    font-size: large;
}

/*login*/

.lgc {
    background-color: #b3a938;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hlgc {
    background-color: #b3a938;
    padding-top: 145px;
    padding-bottom: 145px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/*events, restaurants, things to do: photos*/

.ph {
    object-fit: cover;
    height: 150px;
    width: 250px;
}


.bcg {
    background-color: #B3A938;
}

.hph {
    object-fit: cover;
    height: 400px;
}

.uf {
    padding-top: 100px;
}

.mydiv {
    position: relative;
}

.mydiv:after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background: #B3A938;
    z-index: -1;
}

.lste {
    margin-top: 5px;
    margin-bottom: 5px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-btn {
    background-color: rgba(251, 202, 107, 0.4);
    border-color: rgba(251, 202, 107, 0.4);
}

.my-btn:hover {
    background-color: rgba(179, 169, 56, 0.4);
    border-color: rgba(179, 169, 56, 0.4);
}

.nav-btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
}

.nav-btn:hover {
    background-color: rgba(179, 169, 56, 0.3);
    border-color: rgba(179, 169, 56, 0.3);

}

.nav-img {
    height: 30px;
}

.head-img {
    height: 400px;
    width: inherit;
    object-fit: cover;
    opacity: 0.5;
}

.filter-card {
    background-color: rgba(234, 235, 237, 0.5);
    border-color: rgba(234, 235, 237, 0.5);
    border-radius: 100px;
    padding: 20px;
}

.my-title {
    font-family: "Times New Roman", serif;
}

.text {
    position: relative;

}

.my-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trip-card {
    background-color: rgba(93, 120, 27, 0.3);
    border-width: 0;
    border-radius: 0;
    margin-bottom: 10px;
}

.trip-card.second {
    background-color: rgba(179, 169, 56, 0.3);
    border-width: 0;
    border-radius: 0;
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 0;
    font-weight: bold;
}

h4 {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

.reviews {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;


}

.search-btn {
    padding: 0;
}

.search-svg {
    height: 30px;
}

.fixed-element {
    display: none;
}

.my-nav {
    padding-top: 8px;
    padding-bottom: 8px;
}

.my-border {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image: linear-gradient(to right, #5d781b, #B3A938, #FBCA6B) 1;
    animation: 5s rotate linear infinite;
}

.base-container {
    margin-top: 90px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: white;
    margin-bottom: 20px;
}

.no-pad {
    padding: 0;
}

.no-mrg {
    margin: 0;
}