{% extends 'base.html' %}
{% load static %}

{% block title %}Delete account{% endblock %}

{% block content %}
    <div class="container lgc"
         style="background-image: url('/static/images/background/lorena-tintea-u450hw1m_f0-unsplash.jpg'); background-repeat: no-repeat;
background-size: cover;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card my-shadow lg-card rounded">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <h4 class="text-center">Are you sure you want to delete your account?</h4>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ user.id }}">
                                    <button type="submit" class="btn my-btn">Yes</button>
                                    <a href="{% url 'user_details' user.id %}" class="btn my-btn">No</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}