{% extends 'base.html' %}
{% load static %}

{% block title %}Update profile{% endblock %}

{% block content %}
    <div class="container lgc"
         style="background-image: url('{% static "images/background/lorena-tintea-u450hw1m_f0-unsplash.jpg" %}'); background-repeat: no-repeat;
                 background-size: cover;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card my-shadow lg-card rounded">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <form method="POST">
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col">
                                                    {% csrf_token %}
                                                    {{ form.as_p }}
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-3">
                                                    <button class="btn my-btn border-0" type="submit"><strong>Update</strong></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}