{% extends 'base.html' %}
{% load static %}

{% block title %}Restaurants{% endblock %}
{% block content %}
    <div class="container">
        <button class="btn" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Search restaurant
        </button>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
             aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Search restaurant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <form method="get">
                    <div class="card border-0">
                        <div class="card-body">
                            {% for field in restaurant_filter.form %}
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">{{ field.label }}:</label>
                                    {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% for restaurant in all_restaurants %}

            {% if forloop.counter|divisibleby:2 %}
                <div class="container mydiv lste">
                    <div class="row bcg">
                        <div class="card border-0 bcg">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static restaurant.photo %}" class="img-fluid ph" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ restaurant.name }}</h5>
                                        <p class="card-text">{{ restaurant.description }}</p>
                                        <p class="card-text"><small class="text-muted">
                                            {{ restaurant.address }}
                                        </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container lste">
                    <div class="row">
                        <div class="card border-0">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{% static restaurant.photo %}" class="img-fluid ph" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ restaurant.name }}</h5>
                                        <p class="card-text">{{ restaurant.description }}</p>
                                        <p class="card-text"><small class="text-muted">
                                            {{ restaurant.address }}
                                        </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

{% endblock %}