{% load static %}
<nav class="navbar navbar-expand-lg bg-white fixed-top my-shadow" style="padding: 0; ">
    <div class="container my-nav">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/craud-removebg-preview.png' %}" alt="Craud" style="height: 40px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"
                style="color: #b3a938">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-btn btn" aria-current="page" href="{% url 'all_events' %}"><img alt="..."
                                                                                                  class="nav-img"
                                                                                                  src="{% static 'images/events/calendar.svg' %}"><strong>&nbspEvents</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-btn btn" aria-current="page" href="{% url 'all_restaurants' %}"><img alt="..."
                                                                                                       src="{% static 'images/restaurants/restaurant_1.svg' %}"
                                                                                                       class="nav-img"><strong>&nbspRestaurants</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-btn btn" aria-current="page" href="{% url 'all_ttd' %}"><img alt="..."
                                                                             src="{% static 'images/things_to_do/puzzle_1.svg' %}"
                                                                             class="nav-img"><strong>&nbspThings to
                        do</strong></a>
                </li>
            </ul>
            <form class="d-flex" method='POST' action="{% url 'search' %}" style="margin-right: 40px;">
                {% csrf_token %}
                <input class="form-control me-2 shadow-none {% if request.get_full_path == "/" %}fixed-element{% endif %}"
                       type="search" aria-label="Search" name="searched" style=" border-radius: 20px">
                <button class="btn search-btn border-0 {% if request.get_full_path == "/" %}fixed-element{% endif %}"
                        type="submit"><img class="search-svg" src="{% static 'images/search.svg' %}" alt="..."></button>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a class="nav-btn btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <strong>@{{ request.user.username }}</strong>
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'user_details' request.user.id %}"><strong>Your profile</strong></a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a class="nav-btn btn" href="{% url 'login' %}"><strong>
                        Log In
                    </strong></a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>