{% extends 'base.html' %}
{% load static %}
{% block title %}
    Event - {{ event.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>{{ event.name }}</h2>
            </div>
        </div>
        <div class="row">
            <img class="hph" src="{{ event.photo.url }}" alt="...">
        </div>
        <div class="row" style="background-color: #eaebed; margin-top: 10px; padding-bottom: 20px">
            <div class="col-7">
                <div class="container">
                    <div class="row">
                        <div class="col"
                             style="display: flex; align-items: center; padding-bottom: 10px; padding-top: 20px; padding-left: 30px">
                            <h5 class="rating">
                                {% if event.avg_rating %}{{ event.avg_rating }}
                                {% else %} -
                                {% endif %}
                            </h5>
                            <img alt="..." style="height: 25px; padding-right: 5px"
                                 src="{% static 'images/135-1353166_star-icon-good-icon-png-transparent-png-removebg-preview.png' %}">
                            <p style="margin-bottom: 0"><small class="text-muted">
                                {{ event.reviews.count }}
                                {% if event.reviews.count == 1 %}
                                    review{% else %}reviews{% endif %}
                            </small></p>
                            {% if event.creator %}
                                <h5 style="margin-bottom: 3px">&nbsp|&nbsp</h5>
                                <p style="margin-bottom: 0">by @{{ event.creator }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    {{ event.description }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card" style="margin-top: 20px">
                    <div class="card-body">
                        <h5 class="card-title">Contact</h5>
                        <p>Address: {{ event.address }}</p>
                        <p>
                            Phone number:
                            {% if event.contact_num %}{{ event.contact_num }}
                            {% else %}no phone number available
                            {% endif %}
                        </p>
                        <p>
                            Website:
                            {% if event.website_url %}{{ event.website_url }}
                            {% else %}no website available
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card rounded-0"
                     style="border-width: 0; margin-top: 20px; border-bottom-width: 1px">
                    <div class="card-header" style="background-color: white">
                        <h5 class="card-title">Add a new event!</h5>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container reviews">
        <div class="row">
            <div class="col">
                <div class="card border-0 rounded-0"
                     style="padding-right: 40px;padding-left: 40px; padding-top: 10px;">
                    <div class="card-body">
                        <h5 style="display: inline"><strong>Reviews&nbsp</strong></h5>
                        <h5 class="text-muted" style="display: inline">({{ event.reviews.count }})</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: rgba(93,120,27,0.3);padding-top: 20px">
            <div class="col">
                <div class="card border-0 rounded-0"
                     style="padding-right: 40px;padding-left: 40px; padding-top: 10px; margin-bottom: 10px">
                    <div class="card-header" style="background-color: white">
                        <div class="col-md-2 offset-md-1">
                            <h5 style="display: inline">Add a review</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{% url 'create_review' %}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            <div class="container">
                                                {% if field.name == 'rating' %}
                                                    <div class="row">
                                                        <div class="col" style="display: inline">
                                                            {{ field.errors }}
                                                            <label class="form-label border-0"
                                                                   style="padding-right: 5px">{{ field.label_tag }}</label>
                                                            {{ field }}
                                                        </div>
                                                    </div>
                                                {% elif field.name == 'comment' %}
                                                    <div class="row" style="padding-top: 10px">
                                                        <div class="col">
                                                            {{ field.errors }}
                                                            <a class="btn rounded-0"
                                                               data-bs-toggle="collapse"
                                                               href="#collapseComment" role="button"
                                                               aria-expanded="false"
                                                               aria-controls="collapseExample">
                                                                Add a {{ field.name }}:
                                                            </a>
                                                            <div class="collapse" id="collapseComment">
                                                                {{ field }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-2" style="text-align: end">
                                        <input type="hidden" name="review_model" value="restaurant">
                                        <input type="hidden" name="id" value="{{ restaurant.id }}">
                                        <button type="submit" class="btn my-btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: rgba(93,120,27,0.3);padding-bottom: 10px">
            <div class="col">
                {% for review in event.reviews.all %}
                    <div class="card rounded-0" style="margin: 10px">
                        <div class="card-header" style="border-width: 0; background-color: white">
                            <h6>@{{ review.user.username }}</h6>
                        </div>
                        <div class="card-body" style="display: flex">
                            <h6 style="margin-bottom: 0; margin-top: 3px">{{ review.rating }}</h6>
                            <img alt="..." style="height: 20px; padding-right: 5px; margin-top: 3px"
                                 src="{% static 'images/135-1353166_star-icon-good-icon-png-transparent-png-removebg-preview.png' %}">
                            {% if review.comment %}
                                <p style="margin-bottom: 0">- {{ review.comment }}</p>
                            {% else %}
                                <p class="text-muted" style="margin-bottom: 0">&nbsp- no comment available from this
                                    user</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}